//COLORS

$color-primary: #121212;
$color-secondary: #9c4dcc;
$white: #fff;

//FONT-FAMILY

$font-primary: 'Roboto', sans-serif;

//FONT-SIZE

$xs: 10px;
$s: 12px;
$m: 14px;
$l: 16px;
$xl: 20px;
$xxl: 32px;